workflows/RAG Chatbot Islamic Center website.json
{
  "name": "ICSJ Dummy Knowledgebse RAG",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        -16
      ],
      "id": "31f2071f-10bb-4fbc-918e-17a8439c33ed",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1Q9MdfsFIOIkUSenWqX68A-I-9N1ZLfYL",
          "mode": "list",
          "cachedResultName": "ICGS sample knowledege base.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1Q9MdfsFIOIkUSenWqX68A-I-9N1ZLfYL/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -16,
        -32
      ],
      "id": "a74202da-ca23-4986-85d2-1e349ac2e869",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fojA55zFnmCcNZnu",
          "name": "bilal_twillio_google drive"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        368,
        -64
      ],
      "id": "911b37e0-ac75-4f31-9076-c6bcbb03b150",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "yaZ4OduFUYnPqllb",
          "name": "ICSJ Dummy"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        432,
        144
      ],
      "id": "67c6359a-c0dc-4cab-90b4-ddcda4310c90",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        128,
        176
      ],
      "id": "851d5605-45dc-4082-aacf-2ac2c843d39f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Xa76f7vMJJypH68P",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -336,
        -448
      ],
      "id": "a4f1c4d8-8abf-43cd-9cd2-28dc6c504f06",
      "name": "When chat message received",
      "webhookId": "a796a651-3d2e-4945-8487-4588c365abfc"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Answer the user's question using ONLY the information provided in the RAG knowledge base.\n\n\n\n\n\nUser Question:\n{{ $json.message }}",
        "options": {
          "systemMessage": "Answer the user's question using ONLY the information provided in the RAG knowledge base."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        16,
        -368
      ],
      "id": "87f42ecf-96fc-4684-8d67-2a521d644292",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -144,
        -208
      ],
      "id": "e8436889-4bc2-4fdd-ad7d-060608090bd0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Xa76f7vMJJypH68P",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve answers for query from chatinput",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 2,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        368,
        -288
      ],
      "id": "b6bb6c9a-22c0-46d5-bdc4-b72b72debd7b",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "yaZ4OduFUYnPqllb",
          "name": "ICSJ Dummy"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        528,
        -480
      ],
      "id": "5a98b075-6ebd-46f0-aa41-180c30e4c2d9",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "db16fe4a-bb5c-4ab4-ad9d-13ad06c711d9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8da5c057d1a6d73b600766be843b1d8cf887dbc0bc58bb6e71dd06b90345689b"
  },
  "id": "vfnoZ2BAC84ZbunT",
  "tags": []
}